
.most-viewed {

    .header {
      display: flex;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 1em;

      button {
        margin: 1em 0em 0em 1em;
      }

    }

    .movies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

}
