.most-viewed {
    width: 70%;
    font-size: 12px;
    font-family: Roboto;

    .header {
      display: flex;
      align-items: center;
      margin-top: 1em;
      margin-bottom: 1em;
      h1 {
          font-size: 4em;
          font-weight: 800;
      }
    }
    .instruction {
        p {
            font-size: 1.3em;
        }

        h4 {
            font-size: 2em;
        }
    }
    .movies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 6em;
        button {
            font-size: 1.2em;
        }
    }
}
