
.rating-record {
    width: 30%;
    font-size: 12px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;

    .header {
        display: inherit;
        align-items: center;
        margin-top: 1em;
        margin-bottom: 1em;

        h1 {
            font-size: 2em;
            font-weight: 600;
        }
    }

    .movies {
        display: inherit;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;;
    }
}
