.recommendation-container {
    width: 75%;
    font-size: 15px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;

    .header {
        display: inherit;
        align-items: center;

        h1 {
            font-size: 2em;
            font-weight: 800;
        }
    }

    .movies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
