
.movie-item {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    width: 302px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-size: 1em;
        text-align: center;
        vertical-align: center;
        margin: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .title:hover {
        background: #f7f7f7;
        cursor: pointer;
    }

    .poster {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: flex;
            width: 300px;
            height: 450px;
            overflow: hidden;
        }
    }

    .plot {
        height: 100px;
        overflow-y: scroll;
        font-size: 1em;
        padding: 5px 10px;
        border-bottom: 1px solid black;
    }

    .rating {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em 1em 1em 1em;

        .star-toolbar-container {
            display: flex;
            flex-direction: row;
            margin: 5px;
            justify-content: space-around;
            align-content: center;
        }

        .button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    .user-rating {
        display: flex;
        font-size: 1em;
        justify-content: center;
    }
}
