.recommender-container {
    background: -moz-linear-gradient(332deg, rgba(255,255,255,1) 0%, rgba(201,201,201,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(201,201,201,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(332deg, rgba(255,255,255,1) 0%, rgba(201,201,201,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(332deg, rgba(255,255,255,1) 0%, rgba(201,201,201,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(332deg, rgba(255,255,255,1) 0%, rgba(201,201,201,1) 100%); /* ie10+ */
    background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(201,201,201,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#C9C9C9',GradientType=1 ); /* ie6-9 */

    .recommender {
        padding: 1em 1em 1em 1em;
    }
}
